.main {
    display: flex;
    justify-content: center;
}

.main-header {
    background-color: linen;
    width: 400px;
    margin-top: 100px;
    padding: 10px;
    border-radius: 10px;
}

.input-field {
    width: 60%;
    height: 30px;
    border: none;
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 50px;
}

.btn {
    border: none;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 32px;
    background: green;
    width: 50px;
    color: aliceblue;
}